body {
	padding: 0;
	margin: 0;
}
html, body, #map {
	height: 100%;
}

#title {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1000;
	color: #ffffff;
	text-shadow: 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	text-align: right;
}

#title h1 {
	margin-top: 10px;
	margin-bottom: 0;
}

#title p {
	margin: 0;
	padding: 0;
}

#title .btn {
	text-shadow: none;
}

/* responsive text queries */
@media screen and (max-width: 992px) {
	p { font-size: 95%; }
	h1 { font-size: 24px; }
}

@media screen and (max-width: 768px) {
	p { font-size: 90%; }
	h1 { font-size: 20px; }
}